@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* make sure all colours are correct!!!!!!!!!!! */

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: #c4b998;
  background-color: black;
}

a {
  text-decoration: none;
}

h4,
h6 {
  color: #d49c02;
}

/* header */

.topnav .lol-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  color: #d49c02;
}

/* header menu */

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  height: 100px;
  font-size: 100px;
  align-items: center;
  border-bottom: 1px solid #d49c02;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Bilgewater splash and bilgewater title */

#bilgewater-splash-pic {
  background-image: url('../images/bilgewater_splash.jpg');
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  overflow: hidden;
  position: relative;

}

#bilgewater-splash-pic h1 {
  text-align: center;
  padding-top: 600px;
  font-size: 100px;
  color: #d49c02;
}

/* Bilgewater Lore section */

.lore-div p {
  font-size: 20px;
  text-align: center;
  margin: 2.5% 35% 2.5% 35%;
}

/* Champions of Bilgewater section */

#champions-of-bilgewater h1 {
  text-align: center;
  font-size: 100px;
  color: #d49c02;
}

#champion-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 300px 300px;
  background-color: black;
  margin: 2.5% 25% 2.5% 25%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.champion-base {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.champion-link-item {
  text-align: center;
  font-size: 75px;
  text-decoration: none;

}

.champion-link-item a:hover {
  text-decoration: underline;
  color: #d49c02;
}

/* featured video of Bilgewater */

#video-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 300px;
  background-color: black;
  margin: 2.5% 25% 2.5% 25%;
}

#featured-video h1 {
  text-align: center;
  font-size: 100px;
  color: #d49c02;
}

.item1 {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.item2 {

  text-align: center;
  padding-top: 15%;
}

.div-border {
  border: 1px solid #d49c02;
  margin: 2.5% 10% 2.5% 10%;
  padding-right: 10%;
}

/* Visions of Bilgewater and image slider*/

#visions-of-bilgewater h1 {
  text-align: center;
  font-size: 100px;
  color: #d49c02;
}

.slider {
  overflow: hidden;
  margin: auto;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/* footer */

footer {
  height: 150px;
  border-top: 1px solid #d49c02;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #d49c02;
}

 /*possibly try to add text decoration to icons  https://stackoverflow.com/questions/39441877/font-awesome-icons-have-text-decoration-issues-inside-links */

/* Graves page */

#graves-splash-pic {
  height: 650px;
  width: 100%;
  background: url('../images/graves-base.jpg') no-repeat center center;
  
}

#graves-splash-pic h1 {
  text-align: center;
  padding-top: 550px;
  font-size: 100px;
  color: #d49c02;
}

.abilities-grid {
  display: grid;
  grid-template-columns: 400px 400px ;
  grid-template-rows: 300px 300px 300px 300px;
  background-color: black;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 30px;
}

.abilities-video {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.abilities-grid-p {
  text-align: center;
}

.abilities-grid-h2 {
  color: #d49c02;
  text-align: center;
}

#abilities-section h1 {
  text-align: center;
  font-size: 100px;
  color: #d49c02;
}

#graves-skins-section h1 {
  text-align: center;
  font-size: 100px;
  color: #d49c02;
}
