@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
  /* https://material.io/design/color/the-color-system.html#color-theme-creation */
  --primary-main: #6200EE;
  --primary-variant: #3700B3;
  --secondary-main: #03DAC6;
  --secondary-variant: #018786;
  --surface-main: #FFFFFF;
  --background-main: #EEE;

  /* Font System */

  /* Font face */
  --primary-font: 'Roboto', sans-serif;

  /* Type scale */
  --font-size-h1: 46px;
  --font-weight-h1: 700;
  --font-letter-spacing-h1: -1.5px;

  --font-size-body1: 16px;
  --font-weight-body1: normal;
  --font-letter-spacing-body1: 0.5px;

  /* Spacing */
  --spacing-gutter: 36px;
  --spacing-paragraph-gap: 8px;

  /* Breakpoints */
  --breakpoint-large: 1440px;
  --breakpoint-medium: 1240px;
  --breakpoint-small: 600px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* make sure all colours are correct!!!!!!!!!!! */

body {
  font-family: var(--primary-font);
  color: var(--primary-variant);
  background-color: var(--background-main);
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-h1);
  letter-spacing: var(--font-letter-spacing-h1);
  font-weight: var(--font-weight-h1);

  color: var(--primary-main);
}

h4,
h6 {
  color: var(--primary-main);
}

.container {
  max-width: 680px;
  margin: 0 auto;
  /* TODO no hard coding */
  padding: 0px 40px;
}

.author {
  margin-top: var(--spacing-gutter);
}

.dish-image {
  width: 100%;
}

.lore-div {
  display: grid;
  grid-gap: var(--spacing-paragraph-gap);
}

.body1 {
  font-size: var(--font-size-body1);
  letter-spacing: var(--font-letter-spacing-body1);
  font-weight: var(--font-weight-body1);
}

/* header */

.topnav .lol-title {
  /* font-size: 50px; */
  color: var(--primary-main);
}

/* header menu */

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--surface-main);
  overflow: hidden;
  height: 100px;
  /* font-size: 100px; */
  align-items: center;
  border-bottom: 1px solid var(--primary-main);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 17px; */
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* footer */

footer {
  height: 150px;
  border-top: 1px solid var(--primary-main);
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  /* font-size: 160%; */
  margin: 1%;
  padding: 5%;
  color: var(--primary-main);
}

.social-networks i:hover {
  text-decoration: underline;
}
